@(form: Form[Application.UploadFilesForm], listFiles: List[Files])

@main("Play! Framework :: store and load BLOBs") {
    @if(form.hasGlobalErrors) {
        <div style="color: red;">
            <strong>Oh noo!</strong> @form.globalError.message
        </div>
    }
    @if(flash.contains("error")) {
        <div style="color: red;">
            <strong>Oh noo!</strong> @flash.get("error")
        </div>
    }
    @if(flash.contains("success")) {
        <div style="color: green;">
            <strong>Well done!</strong> @flash.get("success")
        </div>
    }
    
    <div>
        <h1>Upload a new file:</h1>
        @helper.form(action = routes.Application.uploadFiles(), 'enctype -> "multipart/form-data") {
            <input type="file" class=""  id="dulieu" name="dulieu">
            <button type="submit">Upload file!</button>
        }
    </div>
    
    <div>
        <h1>Files in Database:</h1>
        @for(file <- listFiles) {
            <h3>@file.name</h3>
                <a href="@routes.Application.getFile(file.id, file.name)">Link down</a>
        }
    </div>
}
